$colors: (
  primary: #48426d,
  secondary: #312c51,
  yellow: #f0c38e,
  orange: #f1aa9b,
  white: #edf2f4,
);

$shadow: (
  yellow: 0 2px 8px #f0c38e,
);

$zindex: ();

$breakpoints: (
  pc: 768px,
  mobile: 767px,
);
